* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
    overflow: hidden;
}

.navbar {
    color: black;
    text-decoration: none;
    font-size: 24px;
    margin-left: 1rem;
}

#offcanvasNavbar {
    background-color: #fff;
}

#offcanvasNavbarLabel {
    color: black;
    font-size: 34px;
    font-weight: bold;
}

.offcanvas-body ul li a {
    color: #2d2d2d;
    font-weight: bold;
}

.centrar-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor {
    height: 220px;
    width: 450px;
    background-color: white;
    border: 5px solid black;
    flex-direction: column;
}

#contenedor p{
    margin-bottom: 0;
}

#color {
    font-size: 70px;
    font-weight: bold;
}

#boton-color {
    font-size: 30px;
    color: white;
    border-radius: 20px;
    background-color: #008CBA;
    margin: 15px;
    padding: 10px 30px;
    border: 3px solid #008CBA;
    user-select: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

#boton-color:hover {
    background-color: #05455A;
}